In [84]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [85]:
data_gini=pd.read_csv('Data/gini_index.csv',header=2)

In [86]:
data_gini['2013'].shape

(264,)

In [87]:
data_gini.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            0 non-null      float64
 5   1961            0 non-null      float64
 6   1962            0 non-null      float64
 7   1963            0 non-null      float64
 8   1964            0 non-null      float64
 9   1965            0 non-null      float64
 10  1966            0 non-null      float64
 11  1967            1 non-null      float64
 12  1968            0 non-null      float64
 13  1969            1 non-null      float64
 14  1970            0 non-null      float64
 15  1971            1 non-null      float64
 16  1972            0 non-null      float64
 17  1973            0 non-null      float64
 18  1974            2 non-null      float64
 19  1975            2 non-null      float64
 20  1976            0 non-null      float64
 21  1977            0 non-null      float64
 22  1978            1 non-null      float64
 23  1979            5 non-null      float64
 24  1980            3 non-null      float64
 25  1981            7 non-null      float64
 26  1982            2 non-null      float64
 27  1983            4 non-null      float64
 28  1984            5 non-null      float64
 29  1985            11 non-null     float64
 30  1986            14 non-null     float64
 31  1987            20 non-null     float64
 32  1988            9 non-null      float64
 33  1989            13 non-null     float64
 34  1990            17 non-null     float64
 35  1991            19 non-null     float64
 36  1992            32 non-null     float64
 37  1993            21 non-null     float64
 38  1994            26 non-null     float64
 39  1995            37 non-null     float64
 40  1996            32 non-null     float64
 41  1997            27 non-null     float64
 42  1998            37 non-null     float64
 43  1999            31 non-null     float64
 44  2000            50 non-null     float64
 45  2001            36 non-null     float64
 46  2002            53 non-null     float64
 47  2003            59 non-null     float64
 48  2004            70 non-null     float64
 49  2005            76 non-null     float64
 50  2006            75 non-null     float64
 51  2007            70 non-null     float64
 52  2008            73 non-null     float64
 53  2009            78 non-null     float64
 54  2010            83 non-null     float64
 55  2011            77 non-null     float64
 56  2012            84 non-null     float64
 57  2013            76 non-null     float64
 58  2014            83 non-null     float64
 59  2015            82 non-null     float64
 60  2016            81 non-null     float64
 61  2017            72 non-null     float64
 62  2018            64 non-null     float64
 63  2019            22 non-null     float64
 64  2020            0 non-null      float64
 65  Unnamed: 65     0 non-null      float64
dtypes: float64(62), object(4)
memory usage: 136.2+ KB

In [88]:
year=np.empty(0)

In [89]:
year=np.empty(0)
values=np.empty(0)
country=np.empty(0)
for i in np.arange(2013,2021,1):
    i=str(i)
    data_year=data_gini[i]
    year_values=np.full(data_gini[i].shape,i)
    country_values=data_gini['Country Name']
    values=np.append(values,data_year)
    year=np.append(year, year_values)
    country=np.append(country,country_values)

In [90]:
new_data=pd.DataFrame({'Country Name':country,'year':year,'gini':values})

In [91]:
new_data.dropna(inplace=True)

In [92]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 6 to 1847
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  480 non-null    object
 1   year          480 non-null    object
 2   gini          480 non-null    float64
dtypes: float64(1), object(2)
memory usage: 15.0+ KB

In [93]:
new_data['key']=new_data['Country Name']+'-'+new_data['year']

In [95]:
new_data.year.value_counts()

2014    83
2015    82
2016    81
2013    76
2017    72
2018    64
2019    22
Name: year, dtype: int64

In [94]:
new_data.to_csv('Data/gini_clean.csv')